* {
  box-sizing: border-box;
  // padding: 0;
  margin: 0;
}

.header {
  padding: 0 20px;
  position: sticky;
  top: 0;
  z-index: 990;
  background-color: #fff;
  nav.navbar {
    display: flex;
    height: 100px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    .mainmenu-wrap {
      display: flex;
      align-items: center;
      .social-icon {
        font-size: 0;
        list-style: none;
        display: block;
        ul {
          margin: 0;
          padding: 0;
          li {
            padding: 0 15px;
            display: inline-block;
            a {
              img {
                width: 20px;
                height: 20px;
              }
            }
          }
        }
      }
      .lang-switch {
        padding: 0 40px;
        a {
          font-size: 1.2rem;
          font-weight: 500;
          font-family: Roboto, Helvetica Neue, Helvetica, verdana,
            Microsoft JhengHei, 微軟正黑體, Arial, sans-serif;
          text-decoration: none;
          color: #999;
        }
      }
      .menuBtn {
        font-size: 30px;
        line-height: 1;
        transition: box-shadow 0.15s ease-in-out;
      }
    }
  }
  .banner {
    width: 100%;
    height: 400vh;
    padding: 0;
    margin: 0;
  }
}

section.news {
  padding-top: 25px;
  padding: 0px 30px;
  .title {
    padding-bottom: 54px;
    h2 {
      font-size: 60px;
      display: inline-block;
      padding-right: 10px;
    }
    h3 {
      font-size: 20px;
      font-weight: 900;
      display: inline-block;
    }
  }
  .news-row {
    display: flex;
    justify-content: center;
    width: 100%;
    .item-header1,
    .item-header2,
    .item-header3 {
      margin-bottom: 10px;
    }
    .news-item {
      padding: 0 8px;
      .card {
        overflow: hidden;
      }
      img {
        width: 475px;
        height: 360px;
      }

      &:hover {
        .item-header1 {
          color: #003ccc;
        }
        .item-header2 {
          color: #0099ff;
        }
        .item-header3 {
          color: #e7c100;
        }
        img {
          margin: 0 auto;
          display: block;
          transform: scale(1.1);
          transition: transform 0.2s ease;
        }
      }
    }
  }
}
